.projectTitle {
  font-family: 'Kaushan Script';
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 760px) {
  .projectTitle {
    font-size: 20px;
  }

  .video {
    width: 70% !important;
  }

}