#about .button {
  margin: unset;
  margin-top: 10px;
}


.aboutMe {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.4em;
  font-size: 20px;
  font-family: 'system-ui';
  text-align: left;
  letter-spacing: 1.5px;
  font-weight: lighter;
}

@media only screen and (max-width: 760px) {
  .aboutMe {
    width: 70%;
    padding-bottom: 0px;
    font-size: 15px;
    padding-top: 15px;
  }
}