@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


a li body section main html h1 h2 h3 h4 h5 h6 p ul ol li {
  font-family: "Kaushan Script" !important;
}
body.dark-mode {
  background-color: #eeeeee;
  color: #393e46;
  transition: background-color 0.3s ease;
  overflow-x: hidden !important;
}
body.light-mode {
  background-color: #222831;
  color: #eeeeee;
  overflow-x: hidden !important;
}

.navbar {
  position: fixed !important;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  height: 40px;
  width: 100%;
}