section {
  height: 100vh !important;
}

.centered {
  line-height: 1.5em;
  font-size: 40px;
  font-family: "Kaushan Script";
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (min-width: 760px) {
  .centered {
    font-size: 80px;
  }
  .btn {
    border-radius: 15px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.btn {
  width: 100%;
  margin: auto;
  margin-top: 30px;

}

.button { 
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Kaushan Script";
  background-color: #ffa622;
}