.link {
  color: #ffa622;
  text-decoration: none;
}

.resumeInner h3 {
  font-family: 'Segoe UI';
  color: #00adb5;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: bolder;
}

.workList {
  /* margin-left: 0px; */
  border-left: 2px solid;
  padding-left: 15px;
  border-width: 2px;
  font-family: 'Segoe UI';
  font-size: 18px;
  font-weight: 100;
  min-width: 250px;
}

.ts .workList {
  min-width: 300px;
} 

@media only screen and (max-width: 760px) {
  .workList {
    font-size: 16px;
  }
}
.workList li {
  list-style-type: none;
  padding-top: 10px;
}

.resume-text {
  line-height: 1.5em;
  font-size: 7vw;
  font-family: "Kaushan Script";
  text-align: center;
  text-overflow: ellipsis;
}
